[defaults]
inventory = hosts
log_path = /var/log/ansible.log
retry_files_enabled = false
library = ./plugins/modules
#pipelining = True
remote_tmp = /tmp

#[privilege_escalation]
#become = true
#become_method = sudo
#become_user  = root
#become_ask_pass = false

